div#result-head {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    button {
        left: 0;
        position: absolute;
    }

    div.MuiCard-root {
        width: max-content;

        table {
            .simulation-time {
                border: 0;
                padding: 0;
    
                span.title {
                    font-weight: bold;
                }
    
                span.value {
                    font-size: .875rem;
                }
            }

            tbody td {
                padding: .5rem 1rem;
            }
        }
    }
}